@import "abstract/variables.css";

@media (max-width: 768px) {
  .is-desktop {
    display: none;
  }

  .is-mobile {
    display: block;
  }

  .main-menu {
    position: fixed;
    top: 0;
    right: 0;
    padding: 8px 20px;
    min-width: auto;
    background: none;
    &::before {
      bottom: auto;
      height: 100%;
    }
    & .main-menu-title {
      display: inline-block;
      margin: 0;
      width: 114px;
      height: 60px;
    }
    & .main-menu-btn {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 20px;
      height: 20px;
      transform: rotate(0deg);
      transition: .5s ease-in-out;
      cursor: pointer;
      background: transparent;
      border: none;
      & span {
        display: block;
        position: absolute;
        height: 1px;
        width: 100%;
        background: #000;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
        text-indent: -1000em;
      }
      & span:nth-child(1) {
        top: 5px;
      }
      & span:nth-child(2),& span:nth-child(3) {
        top: 10px;
      }
      & span:nth-child(4) {
        top: 15px;
      }
    }
    & .main-menu-list {
      display: none;
      margin-top: 20px;
      position: static;
      font-weight: normal;
      border-bottom: 1px solid #d9d9d9;
      & li {
        float: none;
        margin: 0;
        & a {
          position: relative;
          display: block;
          padding: 20px 0;
          border-top: 1px solid #d9d9d9;
          &::after {
            content: '';
          }
          &.is-sub::after {
            position: absolute;
            top: 50%;
            right: 0;
            margin-top: -5px;
            width: 20px;
            height: 10px;
            background: url(../img/ic-arrow-down.png) no-repeat 0 0 / 100% auto;
          }
          &.is-active {
            font-weight: bold;
            color: #d33548;
            &::after {
              transform: rotate(180deg);
            }
            & + ul {
              display: block;
            }
          }
        }
        /* 2depth */
        & ul {
          display: none;
          padding: 10px 0;
          border-top: 1px solid #d9d9d9;
          font-size: 14px;
          & li {
            & a {
              border: none;
              color: #8d8e90;
              padding: 10px 0;
              &::after {
                opacity: 0.4;
              }
            }
            /* 3depth */
            & ul {
              margin-top: 10px;
              padding-bottom: 0;
              border-color: #ebebeb;
              & a {
                padding-left: 23px;
                &::after {
                  display: none;
                }
              }
            }
          }
        }
      }
      & a::before {
        display: none;
      }
    }
    &.is-open {
      padding: inherit;
      max-height: none;
      padding: 8px 20px;
      background: none;
      border: none;
      height: 100%;
      &::before {
        opacity: 1;
      }
      & .main-menu-title {
        display: inline-block;
        margin: 0;
        width: 114px;
        height: 60px;
      }
      & .main-menu-btn {
        & span:nth-child(1) {
          top: 5px;
          width: 0%;
          left: 50%;
        }
        & span:nth-child(2) {
          transform: rotate(45deg);
        }
        & span:nth-child(3) {
          transform: rotate(-45deg);
        }
        & span:nth-child(4) {
          top: 18px;
          width: 0%;
          left: 50%;
        }
      }
      & .main-menu-list {
        display: block;
      }
    }
  }

  img {
    width: 100%;
    height: auto;
  }
  .wrapper {
    min-width: 320px;
  }
  .header {
    display: none;
  }
  #main {
    display: none;
  }
  .footer {
    & .inner {
      width: var(--mWidth);
      padding: 0;
    }
    & .footer-contact {
      padding: 30px var(--mPadding);
      & h2 {
        /* font-size:12px; */
      }
      & .btn {
        position: static;
        top: 0;
        right: 0;
        /* font-size:12px; */
      }
    }
  }
  /* modal */
  .modal-popup {
    min-width: inherit;
    min-height: inherit;
    left: 0;
    margin: 0;
    & .modal-wrap {
      top: 50%;
      left: 0;
      width: 100%;
      margin-top: -30% !important;
      margin-left: 0 !important;
    }
    & .modal-container {
    }
    & .modal-wrap .modal-close {
      top: -31px;
      right: 10px;
    }
  }
}
