@import "abstract/variables.css";

@media (max-width: 768px) {
  body {
    font-family:"Helvetica Neue","Apple SD Gothic Neo",sans-serif;
    letter-spacing:0;
    word-break: keep-all;
  }

  img {
    width: 100%;
    height: auto;
  }

  .is-desktop {
    display: none;
  }

  .is-mobile {
    display: block;
  }

  .main-menu {
    position: fixed;
    top: 0;
    right: 0;
    padding: 8px 20px;
    min-width: auto;
    &.is-mb-fixed {
      background:#fff;
    }
    &::before {
      bottom: auto;
      height: 100%;
    }
    & .main-menu-title {
      display: inline-block;
      margin: 0;
      width: 114px;
      height: 60px;
    }
    & .main-menu-btn {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 20px;
      height: 20px;
      transform: rotate(0deg);
      transition: .5s ease-in-out;
      cursor: pointer;
      background: transparent;
      border: none;
      & span {
        display: block;
        position: absolute;
        height: 1px;
        width: 100%;
        background: #000;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
        text-indent: -1000em;
      }
      & span:nth-child(1) {
        top: 5px;
      }
      & span:nth-child(2),& span:nth-child(3) {
        top: 10px;
      }
      & span:nth-child(4) {
        top: 15px;
      }
    }
    & .main-menu-list {
      display: none;
      margin-top: 20px;
      position: static;
      font-weight: normal;
      border-bottom: 1px solid #d9d9d9;
      & li {
        float: none;
        margin: 0;
        & a {
          position: relative;
          display: block;
          padding: 20px 0;
          border-top: 1px solid #d9d9d9;
          &::after {
            content: '';
          }
          &.is-sub::after {
            position: absolute;
            top: 50%;
            right: 0;
            margin-top: -5px;
            width: 20px;
            height: 10px;
            background: url(../img/ic-arrow-down.png) no-repeat 0 0 / 100% auto;
          }
          &.is-active {
            font-weight: bold;
            color: #d33548;
            &::after {
              transform: rotate(180deg);
            }
            & + ul {
              display: block;
            }
          }
        }
        /* 2depth */
        & ul {
          display: none;
          padding: 10px 0;
          border-top: 1px solid #d9d9d9;
          font-size: 14px;
          & li {
            & a {
              border: none;
              color: #8d8e90;
              padding: 10px 0;
              &::after {
                opacity: 0.4;
              }
            }
            /* 3depth */
            & ul {
              margin-top: 10px;
              padding-bottom: 0;
              border-color: #ebebeb;
              & a {
                padding-left: 23px;
                &::after {
                  display: none;
                }
              }
            }
          }
        }
      }
      & a::before {
        display: none;
      }
    }
    &.is-open {
      padding: inherit;
      max-height: none;
      padding: 8px 20px;
      background: none;
      border: none;
      height: 100%;
      &::before {
        opacity: 1;
      }
      & .main-menu-title {
        display: inline-block;
        margin: 0;
        width: 114px;
        height: 60px;
      }
      & .main-menu-btn {
        & span:nth-child(1) {
          top: 5px;
          width: 0%;
          left: 50%;
        }
        & span:nth-child(2) {
          transform: rotate(45deg);
        }
        & span:nth-child(3) {
          transform: rotate(-45deg);
        }
        & span:nth-child(4) {
          top: 18px;
          width: 0%;
          left: 50%;
        }
      }
      & .main-menu-list {
        display: block;
      }
    }
  }

  .wrapper {
    min-width: 320px;
    /* padding-top:76px; */
  }
  .header {
  }
  #main {
  }
  /* footer */
  .footer {
    & .inner {
      width: var(--mWidth);
      padding: 0;
    }
    & .footer-contact {
      padding:40px var(--mPadding);
      text-align:center;
      & h2 {
        margin:0 0 13px 0;
        padding:0;
        font-size:14px;
        & a {
          margin:-6px 0 0 10px;
          font-size:20px;
        }
      }
      & p {
        margin:0;
        font-size:13px;
        line-height:18px;
      }
      & .btn {
        position: static;
        top: 0;
        right: 0;
        display:block;
        margin:15px 0 0 0;
        font-size:16px;
      }
    }
    & .footer-sitemap {
      padding: 12px var(--mPadding) 30px var(--mPadding);
      font-size:13px;
      justify-content:flex-start;
      & .sitemap-group {
        min-width:44%;
        max-width:44%;
        margin:18px 0 0 0;
        line-height:1.6;
        &:nth-child(even) {
          min-width:56%;
          max-width:56%;
        }
        & li {
          margin:2px 0 0 0;
        }
      }
    }
    & .footer-address {
      padding:0;
      font-size:13px;
      & .inner {
        width: var(--mWidth);
        padding: 11px var(--mPadding) 90px var(--mPadding);
      }
      & .top {
        margin:0 0 5px 0;
        text-align:center;
        & a {
          display:inline-block;
          margin:0 7px 0 0;
          &:last-child{
            margin:0;
          }
        }
      }
      & .bottom {
        line-height:20px;
      }
      & .share {
        position:relative;
        right:0;
        margin:23px 0 0 0;
        & a {
          height:auto;
          margin:0;
          &.facebook{
            width:auto;
            min-width:10px;
            background-size:10px;
            padding-right:20px;
          }
          &.instagram{
            width:auto;
            min-width:19px;
            background-size:19px;
            padding-right:30px;
          }
          &.blog{
            width:auto;
            min-width:20px;
            background-size:20px;
            padding-right:30px;
          }
          &.kakao{
            width:auto;
            min-width:20px;
            padding-right:20px;
            background-size:20px;
            padding-right:30px;
          }
        }
      }
    }
    & .footer-map {
      display:none;
    }
  }
  /* modal */
  .modal-popup {
    min-width: inherit;
    min-height: inherit;
    left: 0;
    margin: 0;
    & .modal-wrap {
      top: 50%;
      left: 0;
      width: 100%;
      margin-top: -30% !important;
      margin-left: 0 !important;
    }
    & .modal-container {
    }
    & .modal-wrap .modal-close {
      top: -31px;
      right: 10px;
    }
  }
}
