@import '//fonts.googleapis.com/css?family=Nanum+Myeongjo&display=swap';
@import '//fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap';

@import "base/normalize.css";
@import "base/reset.css";

body {
  font-family: 'Noto Sans KR', system-ui;
}

.wrapper {
}

.main-menu {
  position: fixed;
  top: 0;
  left: 0;
}
