@import "base/normalize.css";
@import "base/reset.css";
@import "base/fonts.css";

body {
  font-family: system-ui;
}

:root {
  --horizontalPadding: 20px;
  --width: 1240px;
}

.wrapper {
}

.main-menu {
  position: fixed;
  top: 0;
  left: 0;
}

.header {
  height: 900px;
  & .header-inner {
    width: var(--width);
  }
}
