@import "base/normalize.css";
@import "base/reset.css";
@import "base/fonts.css";

body {
  font-family: 'NotoSansCJK', system-ui;
}

a {
  text-decoration: none;
}

.wrapper {
}

.main-menu {
  position: fixed;
  top: 0;
  left: 0;
}
