@import "abstract/normalize.css";
@import "abstract/reset.css";
@import "abstract/fonts.css";
@import "abstract/variables.css";

body {
  font-family: "NotoSansCJK", system-ui;
}

a {
  text-decoration: none;
}

br {
  opacity: 0;
}

.wrapper {
  min-width: var(--width);
}

.main-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: var(--width);
  padding: 30px 60px;
  font-size: 17px;
  z-index: 2;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(20px);
    opacity: 0;
    z-index: -1;
    transition: opacity 0.4s;
  }
  & .main-menu-title {
    display: inline-block;
    width: 227px;
    transition: width 0.4s;
    & img {
      width: 100%;
    }
  }
  &.is-active {
    padding: 10px 60px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    & .main-menu-title {
      width: 190px;
    }
    & .main-menu-list {
      top: 50px;
    }
    &::before {
      opacity: 1;
    }
  }
  & .main-menu-list {
    position: absolute;
    top: 54px;
    right: 60px;
    font-weight: bold;
    line-height: 1;
    & li {
      margin: 0 25px;
      float: left;
    }
    & a {
      display: block;
      position: relative;
      color: #000;
      &::before {
        content: "";
        position: absolute;
        top: -4px;
        left: -14px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #ddd;
        opacity: 0;
        transition: opacity 0.2s;
      }
      &:hover::before {
        opacity: 1;
      }
      &.is-active::before {
        background-color: #d33548;
        opacity: 1;
      }
    }
  }
}

.footer {
  & .inner {
    position: relative;
    margin: 0 auto;
    width: var(--width);
  }
  & .footer-contact {
    padding: 80px 0 30px;
    & h2 {
      margin-bottom: 24px;
      font-family: NanumMyeongjo;
      font-size: 22px;
      & span {
        font-size: 34px;
        font-weight: bold;
      }
    }
    & p {
      font-weight: bold;
    }
    & .btn {
      position: absolute;
      top: 80px;
      right: 0;
      padding: 12px 28px;
      font-size: 24px;
      font-family: NanumMyeongjo;
      color: #fff;
      background-color: #000;
      line-height: 1;
      border-radius: 25px;
    }
  }
  & .footer-sitemap {
    overflow: hidden;
    padding: 24px 0;
    border-top: 1px solid #e5e5e5;
    & h3 a {
      color: #000;
    }
    & a {
      color: #8d8d8d;
    }
    & .sitemap-group {
      float: left;
      width: 25%;
      line-height: 30px;
    }
  }
  & .footer-address {
    position: relative;
    padding: 30px 0;
    border-top: 1px solid #e5e5e5;
    color: #8d8d8d;
    line-height: 24px;
    & .top {
      margin-bottom: 12px;
    }
    & a {
      margin: 0 10px;
      color: #000;
      font-weight: bold;
      &:first-child {
        margin-left: 0;
      }
    }
    & address {
      font-style: normal;
    }
    & .share {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  & .footer-map {
    border-top: 1px solid #e5e5e5;
    height: 400px;
    background: #fff url(../img/bg-map.jpg) no-repeat 50% 0 / cover;
  }
}
