@import "abstract/normalize.css";
@import "abstract/reset.css";
@import "abstract/fonts.css";
@import "abstract/variables.css";

body {
  font-family: "NotoSansCJK", system-ui;
}

a {
  text-decoration: none;
}

br {
  opacity: 0;
}

.skip-nav {
  position: fixed;
  top: 16px;
  left: 16px;
  right: 16px;
  & a {
    display: block;
    background-color: #fff;
  }
}

.wrapper {
  min-width: var(--width);
}

.main-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: var(--width);
  padding: 30px 60px;
  font-size: 17px;
  z-index: 2;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(20px); */
    background-color:#fff;
    opacity: 0;
    z-index: -1;
    transition: opacity 0.4s;
  }
  & .main-menu-title {
    display: inline-block;
    width: 227px;
    height:118px;
    transition: width 0.4s ease;
    & a {
      display:block;
      text-indent:-9999px;
      width:100%;
      height:100%;
      background:url(../img/img-logo.png) no-repeat 0 0;
      background-size:100%;
    }
  }
  &.is-active {
    height:120px;
    padding: 10px 60px;
    border-bottom: 1px solid #c4c4c4;
    & .main-menu-title {
      display:block;
      width: 194px;
      height:67px;
      margin:20px 0 0 0;
      & a{
        background-image:url(../img/img-logo-sticky.png);
      }
    }
    & .main-menu-list {
      top: 50px;
    }
    &::before {
      opacity: 1;
    }
  }
  & .main-menu-list {
    position: absolute;
    top: 54px;
    right: 60px;
    font-weight: bold;
    line-height: 1;
    & li {
      margin: 0 25px;
      float: left;
    }
    & a {
      display: block;
      position: relative;
      color: #000;
      &::before {
        content: "";
        position: absolute;
        top: -4px;
        left: -18px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #ddd;
        opacity: 0;
        transition: opacity 0.2s;
      }
      &:hover::before {
        opacity: 1;
      }
      &.is-active::before {
        background-color: #d33548;
        opacity: 1;
      }
    }
  }
}

.footer {
  & .inner {
    position: relative;
    margin: 0 auto;
    width: var(--width);
    padding:0 var(--horizontalPadding);
  }
  & .footer-contact {
    padding: 80px 0 28px;
    & h2 {
      padding:3px 0 0 0;
      margin-bottom: 24px;
      font-family: NanumMyeongjo;
      font-size: 22px;
      font-weight:200;
      & a {
        display: inline-block;
        margin: -12px 0 0 10px;
        font-size: 34px;
        font-family: NotoSansCJK;
        font-weight: bold;
        vertical-align: top;
        color:#000;
      }
    }
    & p {
      margin:-13px 0 0 0;
      font-weight: bold;
    }
    & .btn {
      position: absolute;
      top: 80px;
      right: 20px;
      padding: 12px 28px;
      font-size: 24px;
      font-family: NanumMyeongjo;
      color: #fff;
      background-color: #000;
      line-height: 1;
      border-radius: 25px;
    }
  }
  & .footer-sitemap {
    overflow: hidden;
    padding: 24px 0;
    border-top: 1px solid #e5e5e5;
    & h3 a {
      color: #000;
    }
    & a {
      color: #8d8d8d;
    }
    & .sitemap-group {
      float: left;
      /* width: 25%; */
      margin-right:207px;
      line-height: 30px;
      &:last-child{
        margin-right:0;
      }
    }
  }
  & .footer-address {
    position: relative;
    padding: 28px 0;
    border-top: 1px solid #e5e5e5;
    color: #8d8d8d;
    line-height: 24px;
    & .top {
      margin-bottom: 12px;
    }
    & a {
      margin: 0 10px;
      color: #000;
      font-weight: bold;
      &:first-child {
        margin-left: 0;
      }
    }
    & address {
      font-style: normal;
    }
    & .share {
      position: absolute;
      top: 0;
      right: 20px;
      &:after{
        display:block;
        content:'';
        clear:both;
      }
      & a {
        overflow:hidden;
        display:block;
        float:left;
        height:29px;
        margin:0 0 0 22px;
        text-indent:-9999px;
        &.facebook{
          width:16px;
          background: url(../img/ico-facebook.jpg) no-repeat 0 50%;
        }
        &.instagram{
          width:27px;
          background: url(../img/ico-instagram.jpg) no-repeat 0 50%;
        }
        &.blog{
          width:29px;
          background: url(../img/ico-blog.jpg) no-repeat 0 50%;
        }
        &.kakao{
          width:36px;
          background: url(../img/ico-kakao.jpg) no-repeat 0 50%;
        }
      }
    }
  }
  & .footer-map {
    position:relative;
    border-top: 1px solid #e5e5e5;
    height: 400px;
    background: #fff url(../img/bg-map.jpg) no-repeat 50% 0 / cover;
    & .box {
      position:absolute;
      left:50%;
      bottom:0;
      width:235px;
      height:235px;
      margin:0 0 0 -619px;
      padding:32px 25px 25px 25px;
      font-size:16px;
      line-height:25px;
      letter-spacing:-0.5px;
      color:#fff;
      background:rgba(0, 0, 0, 0.8);
      & strong{
        display:block;
        overflow:hidden;
        width:139px;
        height:71px;
        margin:0 0 23px 0;
        text-indent:-9999px;
        background: url(../img/logo-footer.png) no-repeat 0 0 / 100%;
      }
    }
  }
}
