@import "abstract/variables.css";

.notify {
  min-height: 900px;
  background: url(../img/bg-wave.png) no-repeat 50% 220px / cover;
  padding-top: calc(100% * (641 / 1903));
  & .swiper-wrapper {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }
  & .notify-item {
    position: relative;
    margin: 0 auto;
    padding-left: 640px;
    width: var(--width);
    height: inherit;
    font-size: 18px;
    & img {
      position: absolute;
      bottom: 0;
      left: 0;
    }
    & .notify-tit {
      position: absolute;
      top: 208px;
      left: 630px;
      font-family: NanumMyeongjo;
      font-size: 184px;
      color: #000;
    }
    & .notify-box {
      position: relative;
      top: 480px;
      color: #fff;
      & .notify-sub-tit {
        display: inline-block;
        margin-bottom: 30px;
        padding-bottom: 8px;
        font-size: 60px;
        font-weight: 200;
        border-bottom: 1px solid #fff;
        line-height: 1;
      }
      & span {
        display: block;
        line-height: 1.4;
      }
    }
  }
  & .swiper-pagination {
    margin-left: calc(var(--width) / -2);
    display: flex;
    width: var(--width);
    height: 136px;
    left: 50%;
    bottom: 0;
    & .swiper-pagination-bullet {
      flex: 1;
      margin: 0 !important;
      padding: 0 20px;
      width: auto;
      height: auto;
      background-color: transparent;
      border-top: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 0;
      color: #fff;
      word-break: keep-all;
      opacity: 1;
    }
    & .swiper-pagination-bullet-active {
      border-width: 2px;
      border-color: rgba(255, 255, 255, 1);
    }
  }
}

.press {
  padding: 80px 0;
  & .press-header {
    border-bottom: 1px solid #e5e5e5;
    & .press-header-inner {
      display: table;
      margin: 0 auto;
      width: var(--width);
      & .press-title {
        display: table-cell;
        padding: 12px 0;
        padding-right: 100px;
        width: 1%;
        font-family: NanumMyeongjo;
        font-weight: normal;
        font-size: 40px;
        white-space: nowrap;
        line-height: 1;
      }
      & .press-tab {
        display: table-cell;
        font-size: 18px;
        vertical-align: bottom;
        & .press-list {
          display: table;
          width: 100%;
          & li {
            display: table-cell;
            text-align: center;
          }
          & a {
            position: relative;
            display: inline-block;
            padding: 20px 0;
            color: rgba(0, 0, 0, 0.4);
            font-size: 18px;
            font-weight: bold;
            bottom: -1px;
            &.is-active {
              color: rgba(0, 0, 0, 1);
              border-bottom: 2px solid #000;
            }
          }
        }
      }
    }
  }
  & .press-content {
    margin: 0 auto;
    width: var(--width);
    & .press-main {
      display: table;
      padding: 40px 0;
      & .press-main-img {
        display: table-cell;
        vertical-align: middle;
      }
      & .press-main-text {
        display: table-cell;
        padding: 0 66px;
        vertical-align: middle;
        text-align: center;
        font-size: 16px;
        line-height: 1.6;
        & h3 {
          font-size: 30px;
          font-family: NanumMyeongjo;
          font-weight: bold;
        }
        & p {
          margin: 20px 0;
        }
      }
    }
    & .press-list {
      font-size: 16px;
      font-family: NanumMyeongjo;
      & li {
        border-bottom: 1px solid #dbdbdb;
        &:first-child {
          border-top: 1px solid #dbdbdb;
        }
      }
      & a {
        display: table;
        width: 100%;
        color: #000;
        &:hover,
        &:focus {
          background-color: #fafafa;
        }
        & span {
          display: table-cell;
          vertical-align: middle;
          &:first-child {
            width: 1%;
            padding-right: 30px;
            & img {
              vertical-align: top;
            }
          }
          &:last-child {
            width: 1%;
            padding: 0 30px;
            font-style: italic;
            white-space: nowrap;
          }
        }
      }
    }
  }
}

.video {
  & .video-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 720px;
    background: url(../img/bg-video.jpg) no-repeat 50% / cover fixed;
    & .video-play {
      font-size: 34px;
      font-family: NanumMyeongjo;
      color: #fff;
      &::before {
        content: '';
        display: block;
        margin: 0 auto 18px;
        width: 36px;
        height: 44px;
        background: url(../img/ic-play.png) no-repeat 0 0;
      }
    }
  }
  & .video-section {
    position: relative;
    margin: 0 auto;
    padding: 60px 330px 60px 0;
    width: var(--width);
    & .video-title {
      margin-bottom: 30px;
      margin-left: -22px;
      font-size: 37px;
      font-weight: normal;
      text-indent: 22px;
      & sup {
        display: block;
        margin-bottom: 12px;
        font-size: 16px;
        font-weight: bold;
        color: #d33548;
      }
    }
    & .video-text {
      margin-bottom: 30px;
      line-height: 28px;
    }
    & .video-img {
      position: absolute;
      top: 45px;
      right: 0;
    }
    & .video-more {
      font-size: 21px;
      font-family: NanumMyeongjo;
      font-weight: bold;
      text-decoration: underline;
      color: #000;
    }
  }
}

.about {
  padding: 70px 0;
  background-color: #ebebeb;
  & .about-inner {
    margin: 0 auto;
    width: var(--width);
  }
  & .about-group {
    position: relative;
    padding: 100px 0;
    padding-left: 640px;
    min-height: 560px;
    &.is-reverse {
      margin-top: -85px;
      padding-top: 160px;
      padding-left: 0;
      padding-right: 640px;
      & img {
        left: auto;
        right: 40px;
      }
    }
    & h2 {
      margin-bottom: 24px;
      font-size: 37px;
      font-weight: normal;
      & sup {
        display: block;
        margin-bottom: 12px;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        color: #d33548;
        text-indent: 2px;
      }
    }
    & img {
      position: absolute;
      top: 0;
      left: 0;
    }
    & p {
      margin-bottom: 24px;
      line-height: 28px;
    }
    & a {
      font-size: 21px;
      font-family: NanumMyeongjo;
      font-weight: bold;
      text-decoration: underline;
      color: #000;
    }
  }
}

.apply {
  & .apply-inner {
    margin: 0 auto;
    padding: 70px 0;
    width: var(--width);
    overflow: hidden;
  }
  & .apply-group {
    position: relative;
    padding-top: 30px;
    padding-left: 225px;
    float: left;
    width: 50%;
    min-height: 225px;
    text-align: center;
    & h2 {
      margin-bottom: 24px;
      font-size: 37px;
      font-weight: normal;
      & sup {
        display: block;
        margin-bottom: 12px;
        font-size: 16px;
        font-weight: bold;
        color: #d33548;
      }
    }
    & p {
      margin-bottom: 24px;
    }
    & img {
      position: absolute;
      top: 0;
      left: 0;
    }
    & a {
      font-size: 21px;
      font-family: NanumMyeongjo;
      font-weight: bold;
      text-decoration: underline;
      color: #000;
    }
  }
}

.live {
  background-color: #ebebeb;
}
