@import "abstract/variables.css";

.notify {
  min-height: 900px;
  background: url(../img/bg-wave.png) no-repeat 50% 220px / cover;
  padding-top: calc(100% * (641 / 1903));
  & .swiper-wrapper {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }
  & .notify-item {
    position: relative;
    margin: 0 auto;
    padding:0 20px 0 706px;
    width: var(--width);
    height: inherit;
    font-size: 19px;
    & img {
      position: absolute;
      bottom: 0;
      left: 0;
    }
    & .notify-tit {
      position: absolute;
      top: 208px;
      left: 684px;
      font-family: NanumMyeongjo;
      font-size: 184px;
      color: #000;
    }
    & .notify-box {
      position: relative;
      top: 480px;
      color: #fff;
      & .notify-sub-tit {
        display: inline-block;
        margin-bottom: 30px;
        padding-bottom: 8px;
        font-size: 60px;
        font-weight: 200;
        border-bottom: 1px solid #fff;
        line-height: 1;
      }
      & span {
        display: block;
        line-height: 1.5;
        font-weight:200;
      }
    }
  }
  & .swiper-pagination {
    margin-left: calc(var(--width) / -2);
    display: flex;
    width: var(--width);
    padding:0 var(--horizontalPadding);
    height: 136px;
    left: 50%;
    bottom: 0;
    & .swiper-pagination-bullet {
      flex: 1;
      margin: 0 !important;
      padding: 0 20px;
      width: auto;
      height: auto;
      background-color: transparent;
      border-top: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 0;
      color: #fff;
      word-break: keep-all;
      opacity: 1;
      line-height: 1.5;
    }
    & .swiper-pagination-bullet-active {
      border-width: 2px;
      border-color: rgba(255, 255, 255, 1);
    }
  }
  & .swiper-button-prev:after,
  & .swiper-button-next:after {
    display:none;
  }
  & .swiper-button-prev,
  & .swiper-button-next {
    width:50px;
    height:120px;
  }
  & .swiper-button-prev {
    right: auto;
    left:50%;
    margin-left: -884px;
    background: url(../img/btn-visual-prev.png) no-repeat 0 50%;
  }
  & .swiper-button-next {
    right: 50%;
    margin-right: -884px;
    background: url(../img/btn-visual-next.png) no-repeat 100% 50%;
  }
}

.press {
  padding: 80px 0;
  & .press-header {
    position:relative;
    &:after{
      position:absolute;
      left:0;
      bottom:0;
      width:100%;
      display:block;
      content:'';
      border-bottom: 1px solid #e5e5e5;
    }
    & .press-header-inner {
      z-index:1;
      position:relative;
      display: table;
      margin: 0 auto;
      width: var(--width);
      padding:0 var(--horizontalPadding);
      & .press-title {
        display: table-cell;
        padding: 12px 0;
        padding-right: 100px;
        width: 1%;
        font-family: NanumMyeongjo;
        font-weight: normal;
        font-size: 40px;
        white-space: nowrap;
        line-height: 1;
      }
      & .press-tab {
        display: table-cell;
        font-size: 18px;
        vertical-align: bottom;
        & .press-list {
          display: table;
          width: 100%;
          & li {
            display: table-cell;
            text-align: center;
          }
          & a {
            position: relative;
            display: inline-block;
            padding: 20px 0;
            color: rgba(0, 0, 0, 0.4);
            font-size: 18px;
            font-weight: bold;
            bottom: -1px;
            &.is-active {
              color: rgba(0, 0, 0, 1);
              border-bottom: 3px solid #000;
            }
          }
        }
      }
    }
  }
  & .press-content {
    margin: 0 auto;
    width: var(--width);
    padding:0 var(--horizontalPadding);
    & .press-main {
      display: table;
      padding: 40px 0;
      & .press-main-img {
        display: table-cell;
        vertical-align: middle;
      }
      & .press-main-text {
        display: table-cell;
        padding: 0 66px;
        vertical-align: middle;
        text-align: center;
        font-size: 16px;
        line-height: 1.8;
        & h3 {
          font-size: 30px;
          font-family: NanumMyeongjo;
          font-weight: bold;
        }
        & p {
          margin: 20px 0;
        }
      }
    }
    & .press-list {
      font-size: 16px;
      font-family: NanumMyeongjo;
      & li {
        border-bottom: 1px solid #dbdbdb;
        & .subject {
          overflow:hidden;
          width:100%;
          max-width:965px;
          text-overflow:ellipsis;
          white-space:nowrap;
          word-wrap:normal;
        }
        &:first-child {
          border-top: 1px solid #dbdbdb;
        }
      }
      & a {
        display: table;
        width: 100%;
        color: #000;
        &:hover,
        &:focus {
          background-color: #fafafa;
        }
        & span {
          display: table-cell;
          vertical-align: middle;
          &:first-child {
            width: 1%;
            padding-right: 30px;
            & img {
              vertical-align: top;
            }
          }
          &:last-child {
            width: 1%;
            padding: 0 30px;
            font-style: italic;
            white-space: nowrap;
          }
        }
      }
    }
  }
}

.video {
  & .video-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 720px;
    background: url(../img/bg-video.jpg) no-repeat 50% / cover fixed;
    & .video-play {
      font-size: 34px;
      font-family: NanumMyeongjo;
      color: #fff;
      &::before {
        content: "";
        display: block;
        margin: 0 auto 18px;
        width: 36px;
        height: 44px;
        background: url(../img/ic-play.png) no-repeat 0 0;
      }
    }
  }
  & .video-section {
    position: relative;
    min-height:374px;
    margin: 0 auto;
    padding: 60px 330px 60px 20px;
    width: var(--width);
    & .video-title {
      margin-bottom: 30px;
      margin-left: -22px;
      font-size: 37px;
      font-weight: 200;
      text-indent: 22px;
      letter-spacing:-2px;
      & sup {
        display: block;
        margin-bottom: 4px;
        font-size: 16px;
        font-weight: bold;
        color: #d33548;
        letter-spacing:0;
      }
    }
    & .video-text {
      margin-bottom: 17px;
      line-height: 28px;
    }
    & .video-img {
      position: absolute;
      top: 45px;
      right: 20px;
    }
  }
}

.about {
  padding: 70px 0;
  background-color: #ebebeb;
  & .about-inner {
    margin: 0 auto;
    width: var(--width);
    padding:0 var(--horizontalPadding);
  }
  & .about-group {
    position: relative;
    padding: 100px 0;
    padding-left: 640px;
    min-height: 560px;
    &.is-reverse {
      margin-top: -85px;
      padding-top: 160px;
      padding-left: 0;
      padding-right: 640px;
      & img {
        left: auto;
        right: 0;
      }
    }
    & h2 {
      margin-bottom: 13px;
      font-size: 37px;
      font-weight: 200;
      letter-spacing:-2px;
      & sup {
        display: block;
        margin-bottom: 4px;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        color: #d33548;
        text-indent: 2px;
        letter-spacing:0;
      }
    }
    & img {
      position: absolute;
      top: 0;
      left: 0;
    }
    & p {
      margin-bottom: 24px;
      line-height: 28px;
    }
  }
}

.apply {
  & .apply-inner {
    margin: 0 auto;
    padding: 70px var(--horizontalPadding);
    width: var(--width);
    overflow: hidden;
  }
  & .apply-group {
    position: relative;
    padding-top: 30px;
    padding-left: 225px;
    float: left;
    width: 50%;
    min-height: 225px;
    text-align: center;
    & h2 {
      margin-bottom: 19px;
      font-size: 37px;
      font-weight: 200;
      letter-spacing:-2px;
      & sup {
        display: block;
        margin-bottom: 4px;
        font-size: 16px;
        font-weight: bold;
        color: #d33548;
        letter-spacing:0;
      }
    }
    & p {
      margin-bottom: 24px;
      line-height:1.7;
    }
    & img {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.live {
  background-color: #ebebeb;
  & .live-item {
    display: table;
    margin: 0 auto;
    width: var(--width);
    padding:0 var(--horizontalPadding);
  }
  & .live-content {
    position: relative;
    display: table-cell;
    height: 500px;
    padding: 50px 0 50px 640px;
    text-align: center;
    vertical-align: middle;
    & img {
      position: absolute;
      top: 50px;
      left: 0;
    }
    & strong {
      display: block;
      margin-bottom: 14px;
      font-size: 30px;
      line-height:46px;
      font-family: NanumMyeongjo;
    }
    & p {
      margin-bottom: 76px;
      line-height:28px;
    }
  }
  & .swiper-button-prev:after,
  & .swiper-button-next:after {
    display:none;
  }
  & .swiper-button-prev,
  & .swiper-button-next {
    width:50px;
    height:120px;
  }
  & .swiper-button-prev {
    right: auto;
    left:50%;
    margin-left: -884px;
    background: url(../img/btn-live-prev.png) no-repeat 0 50%;
  }
  & .swiper-button-next {
    right: 50%;
    margin-right: -884px;
    background: url(../img/btn-live-next.png) no-repeat 100% 50%;
  }
}

/* button */
.more{
  display:inline-block;
  min-width:46px;
  padding:0 0 1px 0;
  border-bottom:2px solid #000;
  font-size: 21px;
  font-family: NanumMyeongjo;
  font-weight: bold;
  line-height:1;
  color: #000;
}

/*Edge*/
@supports (-ms-accelerator: true) {
  html {
    overflow: hidden;
    height: 100%;
  }
  body {
    overflow: auto;
    height: 100%;
  }
}
/*Ie 10/11*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  html {
    overflow: hidden;
    height: 100%;
  }
  body {
    overflow: auto;
    height: 100%;
  }
}
