@import "abstract/variables.css";

/* layout */
.container {
  min-height:700px;
  padding-top:150px;
}

.inner {
  position:relative;
  width: var(--width);
  padding: 0 var(--horizontalPadding);
  margin:0 auto;
}

/* component */
.btn-black {
  display:inline-block;
  min-width:120px;
  height:50px;
  line-height:50px;
  padding:0 20px;
  border-radius: 25px;
  font-size:20px;
  background:#000;
  color:#fff;
  font-family: NanumMyeongjo;
}

/* keyvisual */
.keyvisual {
  max-width:1920px;
  min-height:480px;
  margin:0 auto;
  & h2 {
    font-family: NanumMyeongjo;
    font-weight:normal;
    font-size:74px;
    line-height:90px;
  }
  & .btn-black {
    position:absolute;
    top:0;
    right:0;
  }
  /* bg */
  &.kbg1 {
    background: url(../img/keyvisual01.jpg) no-repeat 50% 56px;
  }
}

/* breadcrumb */
.breadcrumb{
  width: var(--width);
  margin:33px auto 0 auto;
  padding: 0 var(--horizontalPadding);
  font-size: 14px;
  text-align:right;
  & a {
    display:inline-block;
    color:#000;
    &:before{
      display:inline-block;
      content:'>';
      margin:0 11px 0 6px;
    }
    &:first-child{
      &:before{
        display:none;
      }
    }
    &:hover{
      text-decoration:underline;
    }
  }
}

/* title-group */
.title-group {
  position:relative;
  width: var(--width);
  margin:0 auto;
  padding: 0 var(--horizontalPadding);
  & h3{
    font-size:40px;
    font-family: NanumMyeongjo;
  }
  & p{
    margin:0;
    font-size:18px;
  }
  & select{
    position:absolute;
    bottom:50%;
    right:20px;
    margin-bottom:-15px;
  }
  &.is-desc{
    & select {
      bottom:0;
      margin:0;
    }
  }
}
/* //title-group */


/* board: list */
.board-list{
  width: var(--width);
  margin:30px auto 0 auto;
  padding: 0 var(--horizontalPadding);
  & table{
    border-top:1px solid #000;
    border-bottom:1px solid #e6e6e6;
    & thead{
      & th{
        padding:15px 5px;
        text-align:center;
      }
    }
    & tbody{
      & td {
        text-align:center;
        padding:15px 10px;
        border-top:1px solid #e6e6e6;
        &.subject a{
          display:block;
          overflow:hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          color:#000;
          text-align:left;
          &:hover{
            text-decoration:underline;
          }
        }
      }
    }
  }
}
/* //board: list */

/* board: search */
.board-search{
  width: var(--width);
  margin:30px auto 0 auto;
  padding: 0 var(--horizontalPadding);
  text-align:center;
  & label{
    display:inline-block;
    margin-right:5px;
    vertical-align:middle;
  }
  & select{
    width:94px;
    vertical-align:middle;
    margin-right:5px;
  }
  & .input-group{
    position:relative;
    display:inline-block;
    padding:0 49px 0 0;
    vertical-align:middle;
    & button{
      position:absolute;
      top:0;
      right:0;
      width:50px;
      height:30px;
      line-height:30px;
      text-align:center;
      color:#fff;
      background:#000;
    }
  }
}
/* //board: search */
/* board: thumb */
.board-thumb {
  width: var(--width);
  margin:30px auto 0 auto;
  padding: 0 var(--horizontalPadding);
  & ul{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    margin-top:-58px;
    padding-bottom:40px;
    border-bottom:1px solid #d8d8d8;
    & li{
      margin:58px 0 0 0;
      text-align:center;
      & a{
        &:hover{
          & .subject{
            text-decoration:underline;
          }
        }
      }
      & .subject{
        display:block;
        margin:13px 0 0 0;
        font-weight:normal;
      }
    }
  }
}
/* //board: thumb */



