<nav class="main-menu is-mobile">
  <!-- <h1 class="main-menu-title"><img src="{{ URL }}/assets/img/img-logo.png" alt="ne entertainment"></h1> -->
  <h1 class="main-menu-title"><a href="#">ne entertainment 로고</a></h1>
  <button class="main-menu-btn">
    <span>닫기</span>
    <span></span>
    <span></span>
    <span></span>
  </button>
  <div class="main-menu-list">
    <ul>
      <li><a href="#">사랑해요대한민국</a></li>
      <li><a href="#" class="is-sub is-active">BUSINESS</a>
        <ul>
          <li><a href="#">한복모델 선발대회</a></li>
          <li><a href="#">미스&미시즈 웨딩 드레스모델 선발대회</a></li>
          <li><a href="#" class="is-sub is-active">NE 엔터테인먼트</a>
            <ul>
              <li><a href="#">대회 소개</a></li>
              <li><a href="#">대회 개요</a></li>
              <li><a href="#">갤러리</a></li>
              <li><a href="#">신청</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li><a href="#">PORTFOLIO</a></li>
      <li><a href="#">COMMUNITY</a></li>
    </ul>
  </div>
</nav>
