<nav class="main-menu is-mobile">
  <!-- <h1 class="main-menu-title"><img src="{{ URL }}/assets/img/img-logo.png" alt="ne entertainment"></h1> -->
  <h1 class="main-menu-title"><a href="#">ne entertainment 로고</a></h1>
  <ul class="main-menu-list">
    <li><a href="#menu-01" class="is-active">사랑해요대한민국</a></li>
    <li><a href="#menu-02">BUSINESS</a></li>
    <li><a href="#menu-03">PORTFOLIO</a></li>
    <li><a href="#menu-04">COMMUNITY</a></li>
  </ul>
  <div class="main-menu-sub">
    <div class="main-menu-inner">
      <div class="main-menu-group">
        <h2><a href="#" class="is-active">사랑해요대한민국</a></h2>
        <ul>
          <li><a href="#" class="is-active">대회 소개</a></li>
          <li><a href="#">대회 개요</a></li>
          <li><a href="#">갤러리</a></li>
          <li><a href="#">신청</a></li>
        </ul>
      </div>
      <div class="main-menu-group">
        <h2><a href="#">미스&미시즈<br>웨딩드레스모델 선발대회</a></h2>
        <ul>
          <li><a href="#">대회 소개</a></li>
          <li><a href="#">대회 개요</a></li>
          <li><a href="#">갤러리</a></li>
          <li><a href="#">신청</a></li>
        </ul>
      </div>
      <div class="main-menu-group">
        <h2><a href="#">NE 엔터테인먼트</a></h2>
        <ul>
          <li><a href="#">회사소개</a></li>
          <li><a href="#">프로필</a></li>
          <li><a href="#">Project</a></li>
        </ul>
      </div>
      <div class="main-menu-group">
        <h2><a href="#">사랑해요대한민국<br>시니어모델 협회</a></h2>
        <ul>
          <li><a href="#">소개 / 조직위원회</a></li>
        </ul>
      </div>
      <div class="main-menu-group">
        <h2><a href="#">행사/공연 기획</a></h2>
      </div>
    </div>
  </div>
</nav>
